.showcase {
  &__section {
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 24px;
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 16px;

      &.mb {
        margin-top: 24px;
      }
    }

    p {
      line-height: 34px;
      margin-bottom: 16px;
    }

    code {
      padding: 8px;
      background-color: #dddddd;
    }
  }
}

table {
  width: 100%;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 8px;
    border: 1px solid #363636;
  }

  th {
    font-weight: bold;
  }

  tr:nth-child(even) {
    text-align: left;
    background-color: #dddddd;
  }
}
